.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 717px;
  margin-bottom: 150px;
  background-color: var(--color-secondary);
  background-image: image-set(
    "../../resources/images/contacts/contacts-bg.png" 1x,
    "../../resources/images/contacts/contacts-bg@2x.png" 2x
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contacts__content {
  padding-block: 90px;
}

.contacts__title {
  font-size: 35px;
  margin-bottom: 28px;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__link {
  position: relative;
  font-size: 60px;
  transition: all 0.3s;
}

.contacts__link:hover {
  color: var(--color-main);
}
